:root{
  --color-1: #737576;
  --color-2: #FE7743;
  --color-3: #34699A;
}

@font-face{
  font-family: "Titulo";
  src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "menu";
  src: url(../font/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
  font-family: "parrafo";
  src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "subtitulo";
  src: url(../font/Montserrat/static/Montserrat-Black.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   
}
 
header,
main{
  /*border: solid 1px #000; */
}

header div{
  width: 90%;
  /*border: 1px solid #000;*/
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header div h1{
  font-family: "titulo", sans-serif;
}

header div nav ul{
  display: flex;
}

header div nav ul li { 
  margin: 0px 10px;
  list-style: none;
}

header div nav ul li a{
  font-family: "menu", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}

header div nav ul li a:hover,
.activo{
  border-bottom: 2px solid #fff;
}

main section{
  /*border: 1px solid #000; */
}

main section article{
  /*border: 1px solid #000; */
  width: 90%;
  margin: 0px auto;
}

.uno{
  display: flex;
  flex-wrap: wrap; 
  gap: 2rem;
  justify-content: space-around;
  padding: 120px 0px;
  font-size: 1.2rem;
  align-items: center;
}

.uno div{
  width: 550px;  
}

.uno img{
  width: 320px; 
  border-radius: 50%;
}

h2{
  font-family: "subtitulo", sans-serif;
  color:var(--color-2);
  font-size: 3rem;
}

h3{
  font-family: "titulo", sans-serif;
  font-size: 1rem;
  color: var(--color-2);
}

h4{
  font-family: "titulo", sans-serif;
  font-size: 2rem;
  background-color: var(--color-2);
}

p,
.tres{
  font-family: "menu", sans-serif; 
}

span{
  color: var(--color-3);
}

.dos,
.tres,
.cuatro{
  padding: 80px 0px;
  font-size: 1.2rem;
  text-align: center; 
}

.dos ul,
.tres ul{
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
} 

.dos ul li,
.tres ul li{
  list-style: none;
  width: 300px;
  border: 1px solid #D5DBDB;  
}



.dos ul li{
  border: 1px solid var(--color-2);
}

.tres ul li > ul {
  margin: 0px;
  gap:0rem;
  text-align: left; 
  padding: 0px 30px;
}

.tres ul li > ul li{
  width: 300px; 
  font-size: 1rem;
  list-style: circle;
  padding: 5px 0px;
  border: 1px solid #fff;
}

.tres ul li{
  background-color: #fff;
}

.tres ul li h4{
  color: #fff;
  background-color: var(--color-3);
}
 
.tres ul li p{
  text-align: left;
  padding: 10px;
} 

.tres ul li a{
  text-decoration: none;
}

.cuatro{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.7rem;
  text-align: left;
}

.cuatro img{
  width: 350px;
}

.cuatro div{
  /*width: 650px;*/
  padding: 20px; 
}

.cuatro div ul li{
  list-style: none;
  font-family: "menu", sans-serif;

}

.cuatro div ul li h3{
  margin: 10px 0px;
}

.cuatro form  {
  font-size: 1.2rem;
  font-family: "menu", sans-serif; 
  width:650px;
}

.cuatro form div input{
  font-size: 1rem;
  padding: 10px 0px;
  border: 1px solid var(--color-2);
  border-bottom: 2px solid var(--color-3);
  background-color: transparent;
  color: #fff;

}

.cuatro form button{
  font-size: 1.2rem;
  margin: 20px;
  padding: 5px 10px;
  background-color: var(--color-3);
  color: #fff;
  border-radius: 10px;
}

footer{
  padding: 100px 0px;
}

footer section{
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
 }

 footer section article h2 a{
  text-decoration: none;
  color: var(--color-3);
 }

 footer section article nav ul li{
  list-style: none;
 }

 footer section article nav ul li a{
  font-family: "menu", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--color-3);
 }

 footer section article nav ul li a:hover{
  color: var(--color-2);
 }

 .redes{
  display: flex;
  justify-content: space-around;
 }

 .redes li a img{
  width: 30px;
 }

 .pintar{
  background-color: var(--color-2);
 }
