*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  color: #9ba9b3;
}

header{
  background-color: #C6DCE4;
}

h1{
  float: left;
  padding-bottom: 20px;
  font-size: 2em;
}

h2{
  font-size: 2.5em;
}

p{
  font-size: 1.3em;
}

div{
  clear: both;
}

span{
  color: dodgerblue;
}

footer{
  background-color: #C6DCE4;
  padding: 60px 0px;
}

.texto{
  float:left;
  margin-top: 50px;
}

.img{
  float: right;
  text-align: right;
  margin-bottom: 40px;
}

.menu{
  float: right;
  padding-top: 5px;
  font-size: 1.1em;
}

.negro a,
.negro{
  color: black;
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.dos{
  background-color: #C6DCE4;
  padding: 60px 0px 40px;
}

.tres{
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

footer li{
  list-style: none;
  line-height: 1.5;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  border-bottom: 3px solid dodgerblue;;
}

footer section{
  width: 30%;
  float: left;
}

.tres h2{
  margin: 40px 0px;
}

h2.azul,
h3,
footer a{
  color: dodgerblue;
}

.dos section{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.dos .letra{
  text-align: center;
  width: 45%;
  margin-bottom: 40px;
}

.dos section img{
  width: 15%;
}

.dos section img.margen{
  margin-right: 27%;
}

.uno section{
  width: 40%;
}

.uno .container{
  padding-top: 40px;
}

.menu li{
  display: inline-block;
  padding: 5px;
}

.menu a{
  text-decoration: none;
  padding: 5px;
}

.menu a.activo,
.menu a:hover{
  background-color: white;
  border-radius: 7px;
}

.uno .img img{
  width: 60%;
}
