:root{
  --color-primario: #9ba9b3;
  --color-secundario: #C6DCE4;
  --color-tercero: #fff;
  --color-cuarto: #367DF1;
}

*{
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  color: #9ba9b3;
}

header{
  background-color: var(--color-secundario);
  color: aliceblue;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 5vw;
}

h1{
  color: var(--color-cuarto);
}

header nav ul{
  display: flex;
  gap: 1rem;
}

header nav ul li{
  list-style: none;
  
}

header nav ul li a{
  text-decoration: none;
  padding: 5px;
}

header nav ul li a:hover,
header nav ul li a.activo{
  background-color: var(--color-tercero);
  border-radius: 5px;
}

main article.primero{
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 20rem;
  padding: 20px 0px;
}

main article.primero section{
  width: 50vw;
}

main article.primero section.texto{
  padding-top: 50px;
}

main article.primero section.texto h2{
  font-size: 2rem;
  margin: 10px 0px;
}

main article.primero section.texto span{
  color: var(--color-cuarto);
}

main article.primero section img{
  width: 25vw;
  border-radius: 50%;
}

main article.dos{
  background-color: #C6DCE4;
  padding: 20px 0px;
}

main article.dos div{
  width: 90vw;
  margin: auto;
}

main article.dos div section.texto{
  text-align: center;
}

main article.dos div section.texto h2{
  padding: 20px;
  font-size: 2rem;
  color: var(--color-cuarto);
}

main article.dos div section.texto p{
  width: 50vw;
  margin: auto;
  padding: 20px 0px;
}

main article.dos div section.imagen ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10rem;
  margin: 40px 0px;
}

main article.dos div section.imagen ul li{
  list-style: none;
}

main article.dos div section.imagen ul li img{
  width: 150px;
}

main article.tres{
  width: 90vw;
  margin: auto;
  padding: 20px 0px;
  text-align: center;
}

main article.tres h2{
  font-size: 2rem;
  color: var(--color-cuarto);
  margin: 20px 0px;
}

main article.tres ul.principal{
  display: flex;
}

main article.tres ul.principal > li{
  list-style: none;
}

main article.tres ul.principal ul{
  text-align: left;
}

footer{
  background-color: var(--color-secundario);
  padding: 40px 0px;
}

footer h2{
  font-size: 2rem;
  color: var(--color-cuarto);
}

footer ul.prin{
  display: flex;
  justify-content: space-around;
}

footer ul.prin > li{
  list-style: none;
}

footer ul.prin > li > ul {
  padding-left: 0px;
}