*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: burlywood;
    width: 100%;
    height: 80px;
}

a.enlace{
    position: absolute;
    padding: 20px 50px;
}

img.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active{
    background: red;
    transition: .5s;
}

label.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

input#check{
    display: none;
}

section{
    background: url("/img/4.jpg") no-repeat ;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media screen and (max-width: 952px) {
    a.enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    label.checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    nav ul li a:hover, 
    nav ul li a.active{
        background: none;
        color: red;
    }

    input#check:checked ~ ul{
        left: 0;
    }
}